<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../../public/css/site.css">
    </head>
    <h1>Sudoku Paradise</h1>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/maps">Maps</a>
        <a href="about">About</a>
    </div> 
    <body>
        {{{body}}}
    </body>
</html>