<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href='../../public/css/site.css'>
        <link rel="stylesheet" href={{style}}>
    </head>
    <h1>Sudoku Paradise 
        <button type="submit" id="music" onclick="javascript:togglePlay();">
            <img src = "../public/js/Speaker.png"/>
        </button>
        <audio id="audio"><source src ="../public/js/Minecraft.mp3" type="audio/mp3"> Browser does not support audio format</audio>
        <script defer src = '../public/js/music.js'></script>
    </h1>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/maps">Maps</a>
        <a href="/tutorial">Tutorial</a>
        <a id="rules-tag">
            <head>
                <link href = "../public/css/tuts.css" rel = "stylesheet">
                <script defer src = '../public/js/tuts.js'></script>
            </head>
            <body>
                <button class = "tut_btn" data-modal-target="#modal"> Tuts</button>
                <div class="modal" id="modal">
                    <div class = "modal-header">
                        <div class = "title"> How To Play Sudoku</div>
                        <button data-close-button class = "close-button">&times;</button>
                    </div>
                    <div class= "Modal body">
                        <h2 class="Goal">Goal</h2>
                        <p class = "Goal_text">The Goal is to fill in all the empty cells on the board with the correct numbers.</p>
                        <h2 class= "Rules">Rules</h2>
                        <p class = "Rules_text">Cells each take a number between 1 and 9. A number may only appear once in a single row, column or three-by-three box</p>
                        <h2 class = "how_play">How To Play</h2>
                        <p class ="play">Click a cell to select it. Then click a number in the button bar to set or clear the number for the selected cell.</p> 
                        </div>
                </div>
                <div id="overlay"></div>
            </body>
        </a>

        {{#if user}}
        <div id="logout">
            <form  method="POST" id="logout-form" action="/user/logout">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div id="username">Hello {{user.username}}!</div>
        {{/if}}
        {{#unless user}}
        {{#if loginError}}
            <span id="error">Invalid Username or Password</span>
        {{/if}}
        <div id="login">
            <form method="POST" id="login-form" action="/user/login">
                <input name="username" placeholder="username">
                <input name="password" placeholder="password">
                <button type = "submit">Submit</button>
            </form>
        </div>
        <div id="newUser">
            <a href="/user/new">New here? Create an account!</a>
        </div>
        {{/unless}}
    </div> 
    <body>
        {{{body}}}
    </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</html>