<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href='../../public/css/site.css'>
        <link rel="stylesheet" href={{style}}>
    </head>
    <h1>Sudoku Paradise</h1>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/maps">Maps</a>
        <a href="/tutorial">Tutorial</a>
        {{#if user}}
        <div id="logout">
            <form  method="POST" id="logout-form" action="/user/logout">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div id="username">Hello {{user.username}}!</div>
        {{/if}}
        {{#unless user}}
        {{#if loginError}}
            <span id="error">Invalid Username or Password</span>
        {{/if}}
        <div id="login">
            <form method="POST" id="login-form" action="/user/login">
                <input name="username" placeholder="username">
                <input name="password" placeholder="password">
                <button type = "submit">Submit</button>
            </form>
        </div>
        {{/unless}}
    </div> 
    <body>
        {{{body}}}
    </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</html>