.map {
  display: flex;
  justify-content: center;
}

body > h2,#mapList{
  margin-left: 8px;
}

.table {
  display: inline-grid;
  background-color: rgb(224, 199, 166);
}

.row {
  display:flex;
}

.cell {
  text-align: center;
  font-size: x-small;
  border: 1px solid black;
  padding: 7px;
  width: 7px;
  height: 7px;
}

#mapList{
    text-align: center;
}

#mapList .table{
    display: inline-block;
}

#mapList li{
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: top;
    padding-bottom: 1px;
}

#addNewMap button{
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 20px;
  border-radius: 12px;  
  background-color: rgb(224, 199, 166);
}

body > h2{
  text-align: justify;
}

#mapList{
  text-align: center;
}

#addNewMap{
  text-align: justify;
}

#img1{
  text-align: center;
}