body {
    background-color: lightgrey;
}

<<<<<<< HEAD
h2,#start-form {
=======
h1,h2,#start-form {
>>>>>>> ec06f4114b12b1b783fc3a86cf7ae311f77817ed
  margin-left: 8px;
}

.map {
  display: flex;
  justify-content: center;
}

.table {
  display: inline-grid;
  border-collapse: collapse;
  background-color: rgb(224, 199, 166);
}

.row {
  display:flex;
}

.cell {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.cell:hover {
  background-color:rgb(231, 137, 137);
}

input[type=number] {
  -moz-appearance: textfield;
}

#check{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    border-radius: 12px;
    background-color: rgb(40, 153, 40);
}

#check:hover {
  background-color: rgb(31, 117, 31);
}

#game-functions{
  text-align: center;
}

#game-functions form{
  display: inline-block;
  padding-bottom: 10px;
}

.solution{
    text-align: center;
}

.incorrect{
  border: 2px solid red;
}

#highscore-table td {

  border: 1px solid black;
}

#highscore-table th {
  text-align: left;
  width: 50px;
  border: 1px solid black;
}

#highscore-table {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
<<<<<<< HEAD
=======

h1, h2{
  font-family: Arial, Helvetica, sans-serif;
}
>>>>>>> ec06f4114b12b1b783fc3a86cf7ae311f77817ed
