body {
    background-color: lightgrey;
}

.map {
  display: flex;
  justify-content: center;
}

.table {
  display: inline-grid;
  border-collapse: collapse;
  background-color: rgb(224, 199, 166);
}

.row {
  display:flex;
}

.cell {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.cell:hover {
  background-color:rgb(231, 137, 137);
}

input[type=number] {
  -moz-appearance: textfield;
}

#check{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#defeat{
    text-align: center;
}

.solution{
    text-align: center;
}

.incorrect{
  border: 2px solid red;
}

#highscore-table td {

  border: 1px solid black;
}

#highscore-table th {
  text-align: left;
  width: 50px;
  border: 1px solid black;
}

#highscore-table {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

h1, h2{
  font-family: Arial, Helvetica, sans-serif;
}