body {
    background-color: lightgrey;
}

.map {
  display: flex;
  justify-content: center;
}

.table {
  display: inline-grid;
  background-color: rgb(224, 199, 166);
}

.row {
  display:flex;
}

.cell {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.cell:hover {
  background-color:rgb(231, 137, 137);
}

 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .tooltiptext {
    visibility: visible;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

#check{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

