<div id="tutorial-block">
        <div id="tutorial">        
                <h2>Get Started!</h2>

                <p>
                        When you first start a game you will be greeted with the following.
                        You will see the Map's Name, The "start" button, and the highscore 
                        table for this map. If there were any high score, the user's username
                        would appear in the User column with their score in the Score column.
                </p>
                <img src="../../public/images/start.png" alt="Starting View">
                <p>
                        To being your game simply click the start button. 
                        Your timer will start and the map will appear.
                </p>
                <img src="../../public/images/map.png" alt="Map View">
                <p>
                        You goal is to fill all the empty cells by following the rules of Sudoku
                        You can fill a cell by clicking and typing in a number 0-9
                        Click "Submit" to submit you answer and see if its right.
                        If some of your cells are wrong, it will highlight them in red.
                        If all of your cells are correct, you will see the pop-up shown below.
                        If you are signed in you can click "Save" to save your current inputs, or
                        "Load" to load any saved input you have.
                        The "Give Up" button will remove your board and show you the solution.
                </p>
                <img src="../../public/images/win.png" alt="Win View">
                <p>
                        Above is what you will see if you win.
                </p>
                <img src="../../public/images/giveUp.png" alt="Give Up View">
                <p>
                        Above is what you will see if you give up.
                </p>
        </div> 
        <div id='navigation'>
                <h2>Navigating the Website</h2>
                <img src="../../public/images/nav.png" alt="Navigation Bar">
                <ul>
                        <li>Home - Will bring you to the Home page</li>
                        <li>Maps - Will bring you to a page of all the availble maps</li>
                        <li>Tutorial - Is this page</li>
                        <li>Rules - Will display a pop-up that shows the rules of Sudoku</li>
                </ul>
        </div>        
</div>