<h2>Home Page</h2>
<ul id='mapList'>
    {{#each maps}}
    <li>
        <a href="/maps/{{_id}}">{{mapName}}</a> ({{difficulty}}):<br>
            <div  class= "table">
                {{#each mapData}}
                    <div class="row">
                    {{#each this}}
                            <span class="cell" >{{this}}</span>
                    {{/each}}
                    </div>
                {{/each}}
            </div>
    </li>
    {{/each}}
</ul>
