{{#with map}}
<h2>{{mapName}}</h2>
<div class = "map">
    <div class= "table">
        {{#each mapData}}
            <div class="row">
            {{#each this}}
                {{#if this}}
                    <span class="cell">{{this}}</span>
                {{/if}}
                {{#unless this}}
                    <input class = "cell" type = "number" min = "1" max = "9">
                {{/unless}}
            {{/each}}
            </div>
        {{/each}}
    </div>
</div>
{{/with}}