<h2>Availble Maps</h2>

    <ol >
        {{#each maps}}
            <li><a href="/maps/{{_id}}">({{difficulty}}):  {{mapName}}</a></li>
        {{/each}}
    </ol>
    
<form method="post" action="/maps/newMap" id="addNewMap">
    <label>    
        <button type="submit" value="Add a New Random Map"> Add a New Random Map</button>
    </label>
</form>
